<h1>Employee List</h1>


<table>
  <tr>
    <th>Name</th>
    <th>Contracted Hrs</th>
    <th>Email</th>
    <th>Date of Birth</th>
    <th>Start Date</th>
  </tr>
  <% @employees.each do |employee| %>
  <tr>
    <td><a href="/employees/show/<%= employee.id %>"><%= employee.full_name() %></a></td>
    <td><%= employee.contractedhrs %></td>
    <td><%= employee.email %></td>
    <td><%= employee.dateofbirth %></td>
    <td><%= employee.startdate %></td>
  </tr>
  <% end %>
</table>
